* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: #333c4d;
  color: #F8F8F2;
}

h1, h2, h3 {
  font-family: font-family: 'Work Sans', sans-serif;
}

h1 {
  margin: 0;
  padding: 5px 15px;
}

p {
  font-family: 'Taviraj', serif;
}

.navbar-brand {
  padding: 0;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #aaa;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.container .jumbotron {
  box-shadow: 0 0 50px #333;
  border: 2px solid #333;
}

/* CONTENT */
#cool1, #cool2, #cool3 {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid palegreen;
  overflow: hidden;
}

#cool1:hover, #cool2:hover, #cool3:hover {
  box-shadow: 0 1px 5px 1px #111;
}

#cool1 {
  background: url('http:placehold.it/768x250') no-repeat;
  background-position: center;
}
#cool2 {
  background: url('http:placehold.it/768x250') no-repeat;
  background-position: center;
}
#cool3 {
  background: url('http:placehold.it/768x250') no-repeat;
  background-position: center;
}

#cool1 span, #cool2 span, #cool3 span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #aaa;
  color: #222
  opacity: .2;
}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron-1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container .jumbotron {
    background: url('../images/jumbotron-992.jpg') no-repeat;
    height: 705px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url('../images/jumbotron-768.jpg') no-repeat;
    height: 546px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
}
