* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: #333c4d;
  color: #F8F8F2;
}

h1, h2, h3 {
  font-family: font-family: 'Work Sans', sans-serif;
}

h1 {
  margin: 0;
  padding: 5px 15px;
}

p {
  font-family: 'Taviraj', serif;
}

.navbar-brand {
  padding: 0;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #aaa;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}
