h1 {
		text-transform: lowercase; /* change uppercase letter to lower case */
		/* capitalized each word in heading ot make more obvious */
		text-align: right; /* align text to right side of page */
		font-family: monospace; /* change font-family to monospace */
		font-size: 3em; /* increase the font size to 3em */
		color: orange /* change the font color to orange */
	}

h1:hover {
	text-decoration: underline; /* underline when mouse hovers */
}
